.income {
    border: 1px solid hsla(0, 0%, 30%, 0.9);
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 10px 30px;
    margin: 10px;
    background-color: hsla(115, 90%, 59%, 0.1);
    border-radius: 15px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.incomeForm {
    max-width: 250px;
}

.input, .addIncome, .incomeType, .incomeNote, .incomeCategory {
    width: 90%;
    padding: 10px;
    border-radius: 15px;
    background-color: #121212;
    margin: 5px 0px;
    min-height: 25px;
}

.incomeCategory {
    width: 100%;
}


.addIncome {
    background-color: hsla(120, 100%, 50%, 0.3);
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    font-weight: bolder;
}

.addIncome:hover {
    background-color: hsla(120, 100%, 45%, 0.3);
    cursor: pointer;
    transform: scale(1.01);
}

.incomeType {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0px;
    border: 1px solid hsla(0, 0%, 30%, 0.9);
    border-radius: 15px;
    padding: 10px;
    background-color: #121212;
}

.incomeNote {
    resize: none;
}