.overview {
    display: flex;
    flex-direction: column;
    border: 1px solid hsla(0, 0%, 30%, 0.9);
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    flex-grow: 1; 
    justify-content: flex-start;
    padding: 10px 30px;
    margin: 10px;
    margin-right: 0px;
    background-color: hsla(234, 90%, 35%, 0.1);
    text-align: center;
    min-height: 450px;
}

.overview h3 {
    margin-bottom: 10px;;
}

.overview ul {
    padding: 0;
}

.overview ul li {
    text-align: justify;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-transform: none;
}

hr {
    margin: 15px 0px;
}

.incomeFormat {
    color: hsla(120, 100%, 50%, 0.5);
}

.expenseFormat {
    color: hsla(0, 100%, 55%, 0.6);
}